body {
    background-image: url("../img/background 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1030px;
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

/*header*/

header {
    margin-top: 46px;
    margin-bottom: 37px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

header a {
    color: white;
    display: block;
}

.tel {
    margin-top: 19px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.email {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

header a:hover {
    color: #F26522;
    filter: invert(50%) sepia(53%) saturate(3528%) hue-rotate(348deg) brightness(98%) contrast(94%);
}

.logo {
    display: flex;
}

.milan {
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
}

.holidays {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}

.svg {
    margin-right: 10px;
}

/*main*/

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 65px;
    grid-row-gap: 78px;
}

.list-item {
    max-width: 300px;
    max-height: 220px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.images {
    max-width: 300px;
    max-height: 220px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-description {
    margin-top: 20px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.orange-box {
    visibility: hidden;
    width: 300px;
    height: 55px;
    background-color: #F26522;
    color: #FFFFFF;
    position: absolute;
    margin-top: -92px;
    opacity: 0;
}

.from {
    padding-top: 9px;
    padding-left: 16px;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
}

.price {
    padding-top: 8px;
    padding-left: 16px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.details {
    padding-left: 128px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.details::after {
    content: url(../img/vector.svg);
    margin-left: 16px;
}

.hover-section:hover .orange-box {
    visibility: visible;
    opacity: 1;
    transition: .8s;
}

.image-description:hover {
    color: #F26522;
}

footer {
    margin-top: 85px;
    margin-bottom: 15px;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
}



